<html>
<head>
    <title>strongest digit</title>
</head>
<body  style="text-align: center;">
    <form method="POST" action="/strongest_digit">
        <label>Enter the number </label>
        <input type='text' name='val'>
    </form>
</body>

</html>
